body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.part1 {
    background: #1F2937;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar li {
    list-style: none;
    display: block;
    padding: 1em;
    
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}